.pdn10 {
  padding: 10px
}

.pdn10-left {
  padding-left: 10px;
}
.pdn10-right {
  padding-right: 10px;
}
.margin10-right{
  margin-right: 10px;
}
.margin10-left{
  margin-left: 10px;
}
.margin10-bottom{
  margin-bottom: 10px;
}
.flex{
  display: flex;
}
.flx-space-between{
  justify-content: space-between;
}
.hide {
  display: none;
}
.pos-relative{
  position: relative;
}
.top-150{
  top: 150px
}



.navlink {
  display: inline-block;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}
.div__ctrl__login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div__ctrl__register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#btn__register{
  margin-bottom: 10px;
}
#btn__edit {
  margin-bottom: 10px;
}
#section__log, #section__register, #section__edit {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.div__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  max-height: 350px;
  background: rgba(247, 247, 247, 0.6);
  border: solid 2px #bebebe;
  border-radius: 5px
}
.form-control-feedback {
  line-height: 55px;
  width: 50px;
}
.form-group {
  margin-bottom: 0;
}
.warning {
  color: red;
  font-size: 12px;
}
.auth {
  color: white;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.auth-info {
  margin-right: 15px;
}
.auth-paragraph {
  color: white;
  margin-right: 15px;
  margin-top: 15px;
}
.auth-btn {
  margin-left: 15px
}
.info {
  color: #bbbbbb;
  font-style: italic;
  margin-right: 10px;
}
#public, #admin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#temp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#protected{
  height: 100vh;
}
