.pdn10{
  padding: 10px
}
.pdn10-left{
  padding-left: 10px;
}
.pdn10-right {
  padding-right: 10px;
}
.div__ctrl{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section__log {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}
.div__log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  max-height: 350px;
  background: rgba(247, 247, 247, 0.6);
  border: solid 2px #bebebe;
  border-radius: 5px
}
.form-control-feedback{
  line-height: 55px;
  width: 50px;
}
#warning{
  color: red;
  font-size: 12px;
}